body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex; 
    flex-flow: column wrap;
    background-color: #252432;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent-container{
    width: 100vw; 
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 4fr 250px;
}

.child-container{
    grid-area: 1 / 2;
    background-color: #ccc;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 650px;
    align-items: center;
    justify-items: center;
}

.child-container > h1{
    font-size: 50px;
}

.baby-container, .board-box{
    width: 80vh;
    height: 65vh;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.board-box{
    justify-items: center;
}

.baby-container > h1, .board-box > h1{
    margin: 10px auto;
    font-size: 50px;
}

.board-box > h2{
    margin: 7px auto;
    font-size: 35px;
}

.zygote-container{
    display: flex;
    gap: 30px;
}

.opponent{
    width: 70%;
    height: 100%; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opponent > h2{
    position: absolute;
    z-index: 1;
}

.player-opponent{
    width: 100%;
    height: 100%;
    background-image: url(images/player.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.bot-opponent{
    background-image: url(images/spinner2.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

.player-opponent:hover, .bot-opponent:hover{
    cursor: pointer;
    box-shadow: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #252432;
}




#double-image{
    background-image: url(images/biden.avif);
    background-size: 100% 100%;
}

.double-image-1{
    width: 100%;
}

#double-image2{
    background-image: url(images/Q5LP.gif);
    background-size: 100% 100%;
}

img[src="images/nyan.png"]{
    height: 99%;
    width: 99%;
}


/* first popup */
.mainDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.xSign, .oSign{
    font-size: 5.8rem;
    cursor: pointer;
}

.xSign{
    background-image: linear-gradient(to top, black, pink, indigo, blue, green, yellow, orange, red, white, black);
    color: transparent;
    background-clip: text;    
}
.oSign{
    background-image: url(images/jkjk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    background-clip: text;
}


/* table code */
.gameBoard{
    width: 400px;
    height: 400px;
    background-image: url(images/p1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.tbody{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tableRow{
    height: 133px;
    display: flex;
};

/* bug -> if i remove this, the grid dissapears */
.tableRow > div{}

.a1, .a2, .a3, .b1, .b2, .b3, .c1, .c2, .c3{
    border: 3px solid black;
    width: 133px;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a1, .b1, .c1, .a3, .b3, .c3{
    border-left: none;
    border-right: none;
}

.a1, .a2, .a3{
    border-top: none;
}

.c1, .c2, .c3{
    border-top: none;
    border-bottom: none;
}


/* for showing lyrics */
:root {
    --slider-width: 400px;
}

.parentDiv{
    display: flex;
    gap: 7px;
}
  
.titleSong{
    font-size:26px; 
}
  
.slider {
    width: var(--slider-width);
    overflow: hidden;
    white-space: nowrap;
}

.text {
    font-size:26px; 
    display: inline-block;
    animation: slide 40s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(calc(-100% + var(--slider-width)));
    }
    
    100% {
        transform: translateX(0%);
    }
}

/* code for slower appearance of icon */
.sign{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}